.table-container {
  margin: 30px 0px 30px 70px;
}
.table-body {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
}

.table-body td,
.table-body th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-body tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-body tr:hover {
  background-color: #ddd;
}

.table-body th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.delete {
  color: red !important;
}

.edit {
  color: green !important;
}

.empty-message {
  color: grey;
}
.asc-dsc {
  margin: 5px;
}
